# see gitignore(5) for details

/apps/
/internal/
/savg/

# ignore built idea
idea/admin/ive/mechdyne/ART/DTrack2_v2.12.2/bin/logs

# ignore build demos
baseDemos/BAN/valveComparison_v1/runtime/
baseDemos/BAN/valveComparison_v1/src/models/Circ.line.meter.ive
baseDemos/BAN/valveComparison_v1/src/models/Circ.solid.meter.ive
baseDemos/BAN/valveComparison_v1/src/models/Exterior.line.gray.meter.ive
baseDemos/BAN/valveComparison_v1/src/models/Exterior.solid.gray.meter.ive
baseDemos/BAN/valveComparison_v1/src/models/MuscFat.solid.meter.ive
baseDemos/BAN/valveComparison_v1/src/models/NervEye.solid.meter.ive
baseDemos/BAN/valveComparison_v1/src/models/OtherOrgs.solid.meter.ive
baseDemos/BAN/valveComparison_v1/src/models/Skeleton.solid.meter.ive
baseDemos/BAN/valveComparison_v1/src/models/antenna.box.ive
baseDemos/BAN/valveComparison_v1/src/models/bodyBox.wf.ive
baseDemos/BAN/valveComparison_v1/src/models/rainbow2b.markers.ive
baseDemos/BAN/valveComparison_v1/src/models/receivers.ive
baseDemos/BAN/valveComparison_v1/src/models/valve.ring.ive
baseDemos/BAN/valveComparison_v1/src/programs/hfssProbe
baseDemos/BAN/valveComparison_v1/src/programs/hfssProfileDoubleNoGUI

extendedDemos/NanoStructures/runtime/
extendedDemos/NanoStructures/src/GaAs_px+.orbitals
extendedDemos/NanoStructures/src/GaAs_px-.orbitals
extendedDemos/NanoStructures/src/GaAs_py+.orbitals
extendedDemos/NanoStructures/src/GaAs_py-.orbitals
extendedDemos/NanoStructures/src/GaAs_pz+.orbitals
extendedDemos/NanoStructures/src/GaAs_pz-.orbitals
extendedDemos/NanoStructures/src/GaAs_s+.orbitals
extendedDemos/NanoStructures/src/GaAs_s-.orbitals
extendedDemos/NanoStructures/src/GaAs_ss+.orbitals
extendedDemos/NanoStructures/src/GaAs_ss-.orbitals
extendedDemos/NanoStructures/src/InAs_px+.orbitals
extendedDemos/NanoStructures/src/InAs_px-.orbitals
extendedDemos/NanoStructures/src/InAs_py+.orbitals
extendedDemos/NanoStructures/src/InAs_py-.orbitals
extendedDemos/NanoStructures/src/InAs_pz+.orbitals
extendedDemos/NanoStructures/src/InAs_pz-.orbitals
extendedDemos/NanoStructures/src/InAs_s+.orbitals
extendedDemos/NanoStructures/src/InAs_s-.orbitals
extendedDemos/NanoStructures/src/InAs_ss+.orbitals
extendedDemos/NanoStructures/src/InAs_ss-.orbitals
extendedDemos/NanoStructures/src/atom_coords
extendedDemos/NanoStructures/src/extent.savg
extendedDemos/NanoStructures/src/orbital-P.frag
extendedDemos/NanoStructures/src/orbital-P.geom
extendedDemos/NanoStructures/src/orbital-S.frag
extendedDemos/NanoStructures/src/orbital-S.geom
extendedDemos/NanoStructures/src/orbital.vert
extendedDemos/NanoStructures/src/orbitalVisualization
extendedDemos/NanoStructures/src/orbitalVisualizationGUI.cxx
extendedDemos/NanoStructures/src/orbitalVisualizationGUI.h
extendedDemos/NanoStructures/src/visprep_new2
extendedDemos/NanoStructures/src/wf_data

baseDemos/aggregate_v5.1/runtime/
baseDemos/aggregate_v5.1/src/20015.ive
baseDemos/aggregate_v5.1/src/9061.ive
baseDemos/aggregate_v5.1/src/9175.ive
baseDemos/aggregate_v5.1/src/9778.ive
baseDemos/aggregate_v5.1/src/aggregate.ive

extendedDemos/boulderVisLab2004_v1.0/runtime/
extendedDemos/demos/boulderVisLab2004_v1.0/src/boulderVisLab2004.osgb

baseDemos/cementFibers/runtime/

baseDemos/cementFibers_v7.1/runtime/
baseDemos/cementFibers_v7.1/src/cementFibers.ive
baseDemos/cementFlow_v5.1/runtime/
baseDemos/cementFlow_v5.1/src/moo.iris

baseDemos/d3Demo_v1/runtime/
baseDemos/d3Demo_v2.0/runtime/
baseDemos/d3Demo_v2.0/src/cube.savg
baseDemos/d3Demo_v2.0/src/demoutil.pyc
baseDemos/d3Demo_v2.0/src/exoplanet.frag
baseDemos/d3Demo_v2.0/src/exoplanet.geom
baseDemos/d3Demo_v2.0/src/exoplanet.vert
baseDemos/d3Demo_v2.0/src/exoplanets.iris
baseDemos/d3Demo_v2.0/src/extents.txt
baseDemos/d3Demo_v2.0/src/notify
baseDemos/d3Demo_v2.0/src/__pycache__/


baseDemos/dielectric_v4.0/runtime/
baseDemos/dielectric_v4.0/src/dielectric.ive

baseDemos/example/runtime/
baseDemos/example/src/cowDCS.iris
baseDemos/example/src/cowDCS.ive
baseDemos/example/src/moo.iris
baseDemos/example/src/tapeDCS.iris
baseDemos/example/src/tapeDCS.ive
baseDemos/example/src/windSpeed
baseDemos/example/src/windSpeedGUI.cxx
baseDemos/example/src/windSpeedGUI.h
baseDemos/example/src/windmill.osg
baseDemos/example/src/windmillBlades.osg
baseDemos/example/src/windmillBody.osg
baseDemos/example/src/windmillDCS.iris
baseDemos/example/src/windmillDCS.osg

baseDemos/gpuSphereFlipBookDemo_v1.0/runtime/
baseDemos/gpuSphereVaryingRadius_v1.0/runtime/

extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/runtime/
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/Axis.ive
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/Box.ive
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/Grid.ive
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/fullVolumeFraction.png
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/iveFiles/
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/legend.png
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/moo.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase1.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase1.ive
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase1_ani.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase1_g.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase1_g.ive
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase1_g_ani.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase2.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase2.ive
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase2_ani.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase2_g.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase2_g.ive
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase2_g_ani.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase3.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase3.ive
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase3_ani.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase3_g.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase3_g.ive
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase3_g_ani.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase4.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase4.ive
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase4_ani.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase4_g.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase4_g.ive
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase4_g_ani.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase5.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase5.ive
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase5_ani.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase5_g.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase5_g.ive
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase5_g_ani.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase6.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase6.ive
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase6_ani.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase6_g.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase6_g.ive
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/phase6_g_ani.iris
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/plus3dRed.osg
extendedDemos/hydratiCA/hydratiCA_portcem2_vcap_v2.2/src/plus3dYellow.osg

extendedDemos/hydratiCA/hydratiCA_spatialdecomp_v1.0/runtime/
extendedDemos/hydratiCA/hydratiCA_spatialdecomp_v1.0/src/averages.dat
extendedDemos/hydratiCA/hydratiCA_spatialdecomp_v1.0/src/cube.savg
extendedDemos/hydratiCA/hydratiCA_spatialdecomp_v1.0/src/img/
extendedDemos/hydratiCA/hydratiCA_spatialdecomp_v1.0/src/moo.iris
extendedDemos/hydratiCA/hydratiCA_spatialdecomp_v1.0/src/mooInput.iris
extendedDemos/hydratiCA/hydratiCA_spatialdecomp_v1.0/src/network.js
extendedDemos/hydratiCA/hydratiCA_spatialdecomp_v1.0/src/notify
extendedDemos/hydratiCA/hydratiCA_spatialdecomp_v1.0/src/spatial.savg
extendedDemos/hydratiCA/hydratiCA_spatialdecomp_v1.0/src/structure.struct

baseDemos/litFatSphereDemo_v1.0/runtime/

extendedDemos/lungTumor_v2.1/runtime/
extendedDemos/lungTumor_v2.1/src/FDA-sc.osgb
extendedDemos/lungTumor_v2.1/src/FDA.osgb
extendedDemos/lungTumor_v2.1/src/FDAinsert.osgb
extendedDemos/lungTumor_v2.1/src/SL59-half_src.osgb
extendedDemos/lungTumor_v2.1/src/SL59-whole_src.osgb
extendedDemos/lungTumor_v2.1/src/moo.iris
extendedDemos/lungTumor_v2.1/src/windSpeed
extendedDemos/lungTumor_v2.1/src/windSpeedGUI.cxx
extendedDemos/lungTumor_v2.1/src/windSpeedGUI.h

baseDemos/molecule/caffeineMolecule/runtime/
baseDemos/molecule/capsaicinMolecule/runtime/

extendedDemos/molecule/humanRhinovirus14/runtime/
extendedDemos/molecule/humanRhinovirus14/src/4RHV_cartoon.iris
extendedDemos/molecule/humanRhinovirus14/src/4RHV_cartoon.osgb
extendedDemos/molecule/humanRhinovirus14/src/4RHV_ribbon.iris
extendedDemos/molecule/humanRhinovirus14/src/4RHV_ribbon.osgb
extendedDemos/molecule/humanRhinovirus14/src/4RHV_spheres.iris
extendedDemos/molecule/humanRhinovirus14/src/4RHV_spheres.osgb
extendedDemos/molecule/humanRhinovirus14/src/4RHV_sticks.iris
extendedDemos/molecule/humanRhinovirus14/src/4RHV_sticks.osgb
extendedDemos/molecule/humanRhinovirus14/src/4RHV_sticks_valence.iris
extendedDemos/molecule/humanRhinovirus14/src/4RHV_sticks_valence.osgb
extendedDemos/molecule/humanRhinovirus14/src/4RHV_surface.iris
extendedDemos/molecule/humanRhinovirus14/src/4RHV_surface.osgb
extendedDemos/molecule/humanRhinovirus14/src/convert.sh
extendedDemos/molecule/humanRhinovirus14/src/moo.iris
extendedDemos/molecule/humanRhinovirus14/src/rundemo

extendedDemos/nano/nanoGaAs_1pQD_e40_v7.1/runtime/
extendedDemos/nano/nanoGaAs_1pQD_e40_v7.1/src/Box.ive
extendedDemos/nano/nanoGaAs_1pQD_e40_v7.1/src/S_As.ive
extendedDemos/nano/nanoGaAs_1pQD_e40_v7.1/src/S_Ga.ive
extendedDemos/nano/nanoGaAs_1pQD_e40_v7.1/src/S_In.ive
extendedDemos/nano/nanoGaAs_1pQD_e40_v7.1/src/moo.iris

extendedDemos/nano/nanoInAs_1pQD_e20_v6.1/runtime/
extendedDemos/nano/nanoInAs_1pQD_e20_v6.1/src/Box.osgb
extendedDemos/nano/nanoInAs_1pQD_e20_v6.1/src/demo2a.osgb
extendedDemos/nano/nanoInAs_1pQD_e20_v6.1/src/demo2b.osgb
extendedDemos/nano/nanoInAs_1pQD_e20_v6.1/src/demo2c.osgb
extendedDemos/nano/nanoInAs_1pQD_e20_v6.1/src/demo2d.osgb
extendedDemos/nano/nanoInAs_1pQD_e20_v6.1/src/moo.iris
extendedDemos/nano/nanoInAs_1pQD_e20_v6.1/src/tmp1*.Box.osgb
extendedDemos/nano/nanoInAs_1pQD_e20_v6.1/src/tmp1*.demo2a.osgb
extendedDemos/nano/nanoInAs_1pQD_e20_v6.1/src/tmp1*.demo2b.osgb
extendedDemos/nano/nanoInAs_1pQD_e20_v6.1/src/tmp1*.demo2c.osgb
extendedDemos/nano/nanoInAs_1pQD_e20_v6.1/src/tmp1*.demo2d.osgb
extendedDemos/nano/nanoInAs_1pQD_e20_v6.1/src/tmp2*.Box.osgb
extendedDemos/nano/nanoInAs_1pQD_e20_v6.1/src/tmp2*.demo2a.osgb
extendedDemos/nano/nanoInAs_1pQD_e20_v6.1/src/tmp2*.demo2b.osgb
extendedDemos/nano/nanoInAs_1pQD_e20_v6.1/src/tmp2*.demo2c.osgb
extendedDemos/nano/nanoInAs_1pQD_e20_v6.1/src/tmp2*.demo2d.osgb

baseDemos/nprCementStressFlow/2025rocks5/runtime/
baseDemos/nprCementStressFlow/2025rocks5/src/demo/
baseDemos/nprCementStressFlow/2025rocks5/src/rundemo
baseDemos/nprCementStressFlow/flowDemo5/runtime/
baseDemos/nprCementStressFlow/flowDemo5/src/demo/
baseDemos/nprCementStressFlow/flowDemo5/src/rundemo

extendedDemos/opticalScatteringLogscale_v2/runtime/
extendedDemos/opticalScatteringLogscale_v2/src/1004all.osgb
extendedDemos/opticalScatteringLogscale_v2/src/2038all.osgb
extendedDemos/opticalScatteringLogscale_v2/src/2665all.osgb
extendedDemos/opticalScatteringLogscale_v2/src/axes.osgb
extendedDemos/opticalScatteringLogscale_v2/src/demo.iris
extendedDemos/opticalScatteringLogscale_v2/src/e1004vec.osgb
extendedDemos/opticalScatteringLogscale_v2/src/e2038vec.osgb
extendedDemos/opticalScatteringLogscale_v2/src/e2665vec.osgb
extendedDemos/opticalScatteringLogscale_v2/src/h1004vec.osgb
extendedDemos/opticalScatteringLogscale_v2/src/h2038vec.osgb
extendedDemos/opticalScatteringLogscale_v2/src/h2665vec.osgb
extendedDemos/opticalScatteringLogscale_v2/src/s1004vec.osgb
extendedDemos/opticalScatteringLogscale_v2/src/s2038vec.osgb
extendedDemos/opticalScatteringLogscale_v2/src/s2665vec.osgb
extendedDemos/opticalScatteringLogscale_v2/src/sphere.osgb

baseDemos/piDay_v1.0/runtime/
baseDemos/piDay_v1.0/src/pi.osgb

baseDemos/raveRoomThreeProjectors_v4.1/runtime/
baseDemos/raveRoomThreeProjectors_v4.1/src/Ceiling.ive
baseDemos/raveRoomThreeProjectors_v4.1/src/Lights.ive
baseDemos/raveRoomThreeProjectors_v4.1/src/Room.ive
baseDemos/raveRoomThreeProjectors_v4.1/src/moo.iris
baseDemos/raveRoomThreeProjectors_v4.1/src/theCeiling.iris
baseDemos/raveRoomThreeProjectors_v4.1/src/theLights.iris
baseDemos/raveRoomThreeProjectors_v4.1/src/theRoom.iris

baseDemos/rheometerDemos/concrete-vf30-torque30k_gpu/runtime/

baseDemos/rheometerDemos/spiral_vs_SixBlade_Rheometer/runtime/
baseDemos/rheometerDemos/spiral_vs_SixBlade_Rheometer/src/frames/
baseDemos/rheometerDemos/spiral_vs_SixBlade_Rheometer/src/plot.png
baseDemos/rheometerDemos/spiral_vs_SixBlade_Rheometer/src/movieImmersed.iris
baseDemos/rheometerDemos/spiral_vs_SixBlade_Rheometer/src/s6_sixBlade.iris

baseDemos/rheometerDemos/vaneRheometer_SC2012_v3/runtime/
baseDemos/rheometerDemos/vaneRheometer_SC2012_v3/src/measure_src/hev-monitorSegShm
baseDemos/rheometerDemos/vaneRheometer_SC2012_v3/src/measure_src/hev-segment2points
baseDemos/rheometerDemos/vaneRheometer_SC2012_v3/src/measure_src/hev-segment2values
baseDemos/rheometerDemos/vaneRheometer_SC2012_v3/src/measure_src/readPage

baseDemos/rheometerDemos/vaneRheometer_VolVis_20110519/runtime/

baseDemos/rheometerDemos/vaneRheometer_volFrac_40_20101215_gpu/runtime/

extendedDemos/sciDAC2009/runtime/
extendedDemos/sciDAC2009/src/Shearing_181/
extendedDemos/sciDAC2009/src/Spheres_181/
extendedDemos/sciDAC2009/src/Viscosity_181/

baseDemos/shaderStateTable_v1.0/runtime/
baseDemos/shaderStateTable_v1.0/src/stSphere.frag
baseDemos/shaderStateTable_v1.0/src/stSphere.vert

baseDemos/smartGelAnimation_v8.1/runtime/
baseDemos/smartGelAnimation_v8.1/src/Animation.iris
baseDemos/smartGelAnimation_v8.1/src/Animation.ive
baseDemos/smartGelAnimation_v8.1/src/Animation_ani.iris
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000010.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000020.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000030.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000040.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000050.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000060.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000070.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000080.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000090.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000100.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000110.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000120.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000130.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000140.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000150.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000160.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000170.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000180.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000190.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000200.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000210.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000220.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000230.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000240.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000250.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000260.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000270.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000280.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000290.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000300.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000310.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000320.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000330.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000340.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000350.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000360.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000370.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000380.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000390.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000400.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000410.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000420.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000430.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000440.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000450.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000460.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000470.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000480.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000490.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000500.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000510.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000520.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000530.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000540.ive
baseDemos/smartGelAnimation_v8.1/src/Snapshot.000550.ive
baseDemos/smartGelAnimation_v8.1/src/moo.iris
baseDemos/smartGelAnimation_v8.1/src/timeline.iris
baseDemos/smartGelAnimation_v8.1/src/timelineNoSnap.iris
baseDemos/smartGelAnimation_v8.1/src/tracePath.savg
baseDemos/smartGelAnimation_v8.1/src/traces_H.ive
baseDemos/smartGelAnimation_v8.1/src/traces_MG.ive
baseDemos/smartGelAnimation_v8.1/src/traces_O.ive
baseDemos/smartGelAnimation_v8.1/src/traces_SI.ive

baseDemos/tissueEng_v1/runtime/
baseDemos/tissueEng_v1/src/te-histogramUI

extendedDemos/twoPipes_Newt_vs_ShearThin_v1.0/runtime/
extendedDemos/twoPipes_Newt_vs_ShearThin_v1.0/src/hudc
extendedDemos/twoPipes_Newt_vs_ShearThin_v1.0/src/mdgraph/hersheyToSAVG
extendedDemos/twoPipes_Newt_vs_ShearThin_v1.0/src/mdgraph/mdgraph
extendedDemos/twoPipes_Newt_vs_ShearThin_v1.0/src/velocityData_august2015/thin/*.savg
extendedDemos/twoPipes_Newt_vs_ShearThin_v1.0/src/velocityData_august2015/newt/*.savg
extendedDemos/twoPipes_Newt_vs_ShearThin_v1.0/src/velocityData_august2015/newt/black/
extendedDemos/twoPipes_Newt_vs_ShearThin_v1.0/src/velocityData_august2015/newt/white/
extendedDemos/twoPipes_Newt_vs_ShearThin_v1.0/src/velocityData_august2015/thin/black/
extendedDemos/twoPipes_Newt_vs_ShearThin_v1.0/src/velocityData_august2015/thin/white/


# ignore build spew
**.d
**.o
**npm-debug.log

# ignore vim and emacs spew
**.swp
*~

# ignore build output
**.so
**.a
