########################################################################
# NIST RAVE WANDA

serviceType wanda wanda
serviceOption wanda port /dev/ttyS0
serviceOption wanda baud 1200
serviceOption wanda trackd yes
serviceOption wanda dtkshm joystick joystick
serviceOption wanda dtkshm buttons buttons


