savg-add-normals
savg-alpha
savg-arrow
savg-bargraph
savg-bird
savg-chair
savg-clock
savg-color
savg-computer
savg-cone
savg-confetti
savg-cube
savg-cylinder
savg-dualtetra
savg-ellipsoid
savg-fish
savg-flag
savg-graphFilter
savg-hsi2rgb
savg-hsv2rgb
savg-icecream
savg-line
savg-line-arrow
savg-lineplot
savg-object
savg-octa
savg-output-normals
savg-pie
savg-prism
savg-ptgraph
savg-rainbow
savg-regpoly
savg-reverse
savg-reverse-normals
savg-rgb
savg-rgb2hsi
savg-rgb2hsv
savg-rm-normals
savg-rm-rgba
savg-rmcom
savg-rotate
savg-scale
savg-scatterplot
savg-smiley
savg-sor
savg-sphere
savg-split
savg-square
savg-surfaceplot
savg-table
savg-tetra
savg-text
savg-text-font
savg-text-justification
savg-translate
savg-wireframe
savg-xyzPlanes

